<div class="container">
  <div class="row text-center">
    <div class="col-12">
      <p class="logo">| aQuire film(s) |</p>
    </div>
  </div>
  <div class="row text-center">
    <div class="col"> <a [routerLink]="['/']" routerLinkActive="router-link-active" class="navText"> Home </a></div>
    <div class="col"> <a [routerLink]="['/contact']" routerLinkActive="router-link-active"  class="navText"> Contact </a></div>
    <div class="col"> <a [routerLink]="['/order']" routerLinkActive="router-link-active" class="navText">
        Cart </a></div>
  </div>

</div>
