img {
  width: 50%;
  height: 50%;
  transition-duration: 0.2ms;
  -webkit-box-shadow: 10px 10px 0px 0px #ffa299;
  -moz-box-shadow: 10px 10px 0px 0px #ffa299;
  box-shadow: 10px 10px 0px 0px #ffa299;
}
img:hover {
  opacity: 40%;
  transition-duration: 0.2s;
}


p{
  font-family: 'Bentham', serif;
  font-size: 16px;
}
